

.App, html {
  text-align: center;
  margin: 0;
  background: linear-gradient(
    rgba(0, 0, 0, 0.5),
    rgba(0, 0, 0, 0.5)
  ),
  url('./Images/peaches.jpg') no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  color: white;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.food-pic {
  margin-top: 2em;
  border-radius: 50%;
  border: 2px solid #282c34;
}

.logo {
  margin-top: 1em;
  width: 10%;
  height: 10%;
  opacity: 0.6;
  border: 6px solid #282c34;
}

.page-header {
  font-size: 6em;
}
.nav-box {
  margin-top: 2em;
}

.add-box {
  margin-top: 2em;
}

.pantry-item {
  margin-top: 3em;
  display: inline-block;
  border: 4px solid black;
  background-color: white;
  color: #282c34;
  opacity: 0.88;
  margin: 1em;
  padding: 1em;
}

.pantry-pic {
  /* border: 2px solid #282c34; */
  border-radius: 50%;
}

.pantry-item-name {
  font-size: 1.6em;
}
.nav-text {
  font-size: 2em;
  margin: 0 1em 0 1em;
  border-bottom: 2px solid transparent;
  text-decoration: none;
  color: white;
  font-family: 'Titillium Web', sans-serif; 
}

.nav-text:hover {
  border-bottom: 2px solid white;
}

a {
  text-decoration: none;
  color: #282c34;
  border-bottom: 2px solid transparent;
}

a:hover {
  border-bottom: 2px solid #282c34;
}

p {
  font-size: 1.2em;
  font-family: 'Titillium Web', sans-serif;
}

h1, h2, h3, h4, h5 {
  font-family: 'Oswald', sans-serif;
}

.recipe-box {
  position: fixed;
  top: 4vh;
  left: 2vw;
  border: 6px solid #282c34;
  height: 26vh;
  width: 20vw;
  background-color: white;
  opacity: 0.8;
  color: #282c34;
  z-index: 3;
}

.recipe-pic {
  border-radius: 30%;
  border: 2px solid white;
}

.queue-item {
  letter-spacing: 0.1em;
  font-size: 1.1em;
  display: inline-block;
  font-weight: bolder;
}

.remove-frm-queue {
  border: 2px solid #282c34;
  margin-left: 1em;
}

.queue-btn-box {
  left: 22%;
  margin-bottom: 0.5em; 
  position: absolute;
  bottom: 0;
}

.queue-btn-box button {
  border: 2px solid #282c34;
  margin: 0.2em;
  
}

.remove-btn button {
  border: 2px solid #282c34;
}

.queue-header {
  letter-spacing: 0.2em;
  border-bottom: 2px solid #282c34;
}

.recipe-name {
  color: white;
  font-size: 2em;
}

.recipe-name:hover {
  text-decoration: underline;
}

.add-to-fav{
  margin-top: 2em;
  border: 2px solid #282c34;
}

.filter-box {
  margin: 0 auto;
  width: 30%;
  border: 4px solid white;
}

.filter-box * {
  display: inline-block;
  margin: 0.7em;
  text-align: left;
}

.pantry-btns {
  border: 2px solid black;
  margin: 2px;
  background-color: transparent;
  color: #282c34;
  font-size: 1em;
}

.about-text {
  font-size: 1.5em;
  margin: 5em;
}

.saved-body {
  margin-top: 3em;
}

.recipe-display-box {
  margin-top: 2em;
}