

.App, html {
  text-align: center;
  margin: 0;
  background: linear-gradient(
    rgba(0, 0, 0, 0.5),
    rgba(0, 0, 0, 0.5)
  ),
  url('./Images/peaches.jpg') no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  color: white;
}

.food-pic {
  margin-top: 2em;
  border-radius: 50%;
  border: 2px solid #282c34;
}

.logo {
  margin-top: 4em;
  width: 15%;
  height: 15%;
  opacity: 0.4;
  border-radius: 30%;
}

.page-header {
  font-size: 6em;
}
.nav-box {
  margin-top: 4em;
}

.sub-nav {
  margin-top: 1.5em;
}

.add-box {
  margin-top: 2em;
}

.pantry-item {
  margin-top: 3em;
  display: inline-block;
  /* border: 2px solid white; */
  background-color: transparent;
  color: white;
  opacity: 0.88;
  margin: 1em;
  padding: 1em;
  border-radius: 10%;
  box-shadow: 1px 0px 30px -2px #000000;
}
.pantry-btns {
  border: 2px solid white;
  margin: 2px;
  background-color: transparent;
  color: white;
  font-size: 1em;
}

.pantry-pic {
  border-radius: 50%;
}

.pantry-item-name {
  font-size: 1.6em;
}
.nav-text {
  font-size: 2em;
  margin: 0 1em 0 1em;
  border-bottom: 2px solid transparent;
  text-decoration: none;
  color: white;
  font-family: 'Titillium Web', sans-serif; 
}

.sub-nav-text {
  font-size: 1em;
  margin: 0 1em 0 1em;
  border-bottom: 2px solid transparent;
  text-decoration: none;
  color: white;
  font-family: 'Titillium Web', sans-serif; 
}

.nav-text:hover .sub-nav-text:hover {
  border-bottom: 2px solid white;
}

a {
  text-decoration: none;
  color: white;
}

button:focus {
  outline:0;
}

a:hover {
  border-bottom: 2px solid white;
}

p {
  font-family: 'Titillium Web', sans-serif;
}

h1, h2, h3, h4, h5 {
  font-family: 'Oswald', sans-serif;
}

.recipe-box {
  padding: 0.5em;
  border-radius: 6%;
  margin: 0 auto;
  height: 50vh;
  width: 42%;
  background-color: transparent;
  opacity: 0.88;
  color: white;
  z-index: 3;
  box-shadow: 10px 0px 70px -2px #000000;
}

.recipe-pic {
  border-radius: 30%;
  border: 2px solid white;
}

.queue-item {
  letter-spacing: 0.1em;
  font-size: 1.1em;
  display: inline-block;
  font-weight: bolder;
}

.remove-frm-queue {
  border: 2px solid #282c34;
  margin-left: 1em;
}


.queue-btn-box-btn {
  text-decoration: none;
  color: white;
  font-size: 1.6em;
  border: 2px solid transparent;
  background: none;
  margin: 1em;
  margin: 0 auto;
  opacity: 0.88;
}

.queue-btn-box-btn:hover {
text-decoration: none;
border: 2px solid white;
}

.queue-header {
  letter-spacing: 0.3em;
  font-size: 2em;
}

.remove-btn button {
  border: 2px solid #282c34;
}


.recipe-name {
  color: white;
  font-size: 2em;
}

.recipe-name:hover {
  text-decoration: underline;
}

.add-to-fav{
  margin-top: 2em;
  border: 2px solid #282c34;
}

.filter-box {
  margin: 0 auto;
  width: 30%;
  border: 4px solid white;
}

.filter-box * {
  display: inline-block;
  margin: 0.7em;
  text-align: left;
}

.made-btn {
  border: 2px solid white;
  margin: 2px;
  background-color: transparent;
  color: white;
  font-size: 2em;
}

.made-btn:hover {
  transform: translateY(1.5px);
  box-shadow:  2px 0px 2px 0px rgba(255,255,255,0.75);
}

.about-text {
  font-size: 1.5em;
  margin: 5em;
}

.saved-body {
  margin-top: 3em;
}

.recipe-display-box {
  margin-top: 2em;
}

.modal-btn-box {
  margin-top: 1em;
}

.search-box {
  margin-bottom: 8em;
}

.footer {
  flex-shrink: 0;
}

.saved-recipe-display-box {
  position: relative;
  margin-top: 3em;
  height: 50%;
  width: 30%;
  opacity: 0.88;
  margin: 1em;
  padding: 1em;
  display: inline-block;
  border-radius: 10%;
  box-shadow: 1px 0px 30px -2px #000000;
}

.saved-recipe-pic {
  margin-top: 1em;
  border-radius: 10%;
  width: 60%;
  height: 60%;
}

.saved-recipe-name {
  color: white;
}

.saved-recipe-display-box, button {
  margin: 1em;
  background-color: transparent;
  color: white;
  font-size: 1em;
}

.recipe-note {
  font-size: 1.5em;
}

.quote {
  font-size: 1.7em;
}